nonselectable()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.selected
  background-color: rgb(20, 185, 217)
  cursor: pointer
  nonselectable()

.unselected
  cursor: pointer
  nonselectable()

#header
  height: 400px
  color: white
  background: url('./pattern.jpg')

#header-text
  font-weight: bold
  font-size: 40px
  color: white

#read-more-text
  font-size: 18px
  margin: 0px

#read-more-link
  font-weight: bold
  color: rgb(19, 188, 217)